<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<form action="/pets/edit/<%= pet._id %>?_method=PUT" method="POST">
	Name: <input type="text" name="name" value="<%= pet.name %>"><br><br>
	Type: <input type="text" name="type" value="<%= pet.type %>"><br><br>
	Breed: <input type="text" name="breed" value="<%= pet.breed %>"><br><br>
	Color: <input type="text" name="color" value="<%= pet.color %>"><br><br>
	Age: <input type="number" name="age" value="<%= pet.age %>"><br><br>
	<button type="submit">Submit</button>
</form>
</body>
</html>